
 .post-header {
  margin-bottom: $spacing-unit;
}

.post-name {
  @include relative-font-size(1.75);
}

.post-info {
  list-style: none;
  margin: 0;
  @include relative-font-size(1);
}

.post-info li {
  display: inline-block;
}

.post-item {
  @include relative-font-size(1.25);
}

.post-sep {
  margin: 1em 0;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  @include relative-font-size(1.25);

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
